


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="footer">
  <div class="informations" >
    <h1>About</h1>
    <h3>Contact Number  :<p class="contact">+91 987 654 3210</p> </h3>
    <h3>mail-id  :  abcd@gmail.com</h3>
    <h3>About us</h3>

    <div class="social-media">Social Media
   <br>
    <img class="insta" src="../../assets/instagram (1).png" alt=""></div>
<img class="face-book" src="../../assets/4494475.png" alt="">
<img class="watsapp" src="../../assets/png-transparent-whatsapp-icon-logo-whatsapp-logo-whatsapp-logo-text-trademark-grass-thumbnail.png" alt="">
</div>
</div>
</body>
</html>
