
<div class="container">
  <div class="footer"></div>
    <div class="promo">
      <div class="promo-content">
        <h1 id="grab">Grab upto 50% off on</h1>
        <h1 id="select">selected headphone</h1>
      </div>
      <div id="image-content">
        <img  src="../../assets/Screenshot from 2023-02-21 11-58-24.png" alt="" id="image">
        <button class="buy" color="white">Buy Now</button>

  </div>
    </div>

  </div>

  <div class="cont">
    <button class="head">Headphone Type</button>
    <button class="items">Price</button>
    <button class="items">Review </button>
    <button class="items">color</button>
    <button class="items">material</button>
    <button class="items">offer</button>
    <button class="items">All filters</button>

    <div class="end">
      <button id="sort">Sort by</button>
    </div>

  </div>
 <div class="meterial" >
  <h3 class="head2" >Headphone For You!</h3>
  <div class="products"*ngFor="let item of items">
    <div class="product" >
      <img class="img-1" src="{{item.img}}">
      <div class="txt-1">WH-XB910N <br> <div class="cost">Rs 3000</div>  </div>
    </div>
    </div>
 </div>



