
<div class="navbar">
  <h1 id="heading" routerLink="home">Shopcart</h1>

  <a routerLink="/categories" id="atag">
    <button  class="btn1" routerLink="categories">Categories</button></a>
    <!-- <a routerLink="/categories" id="atag"> -->
  <button class="btn1" routerLink="deals">Deals</button>
  <button class="btn1" routerLink="new">What's new</button>
  <button class="btn1" routerLink="delivery">Delivery</button>
  <input type="'text'" placeholder="search" id="input">
  <button class="btn2">Account</button>
  <button class="btn2" routerLink="cart">Cart</button>
</div>
